@import url(./colours.css);
@import url(./typography.css);
@import url(./layouts.css);
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--label-normal);
}
body {
    background-color: var(--gray-6);
}
button {
    background-color: var(--gray-6);
}
