@import url(./colours.css);
@import url(./typography.css);
@import url(./layouts.css);
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--label-normal);
    user-select: none;
}
input,
select,
option {
    background-color: var(--gray-6);
}
body {
    background-color: var(--gray-6);
}
button {
    background-color: var(--gray-6);
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid var(--gray-4);
    padding: 7px;
}

label {
    margin-inline-end: 3rem;
}
