@import url(./colours.css);
@import url(./typography.css);
@import url(./layouts.css);
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--label-normal);
    user-select: none;
    font-family: system-ui, sans-serif;
}
input,
select,
option {
    background-color: var(--gray-6);
}
body {
    background-color: var(--gray-6);
}
button {
    background-color: var(--gray-6);
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid var(--gray-4);
    padding: 7px;
}
button:disabled {
    background-color: var(--gray-4);
    color: var(--gray-1);
    cursor: not-allowed;
}
label {
    margin-inline-end: 3rem;
}
textarea {
    background-color: var(--gray-6);
    width: 100%;
    border-radius: 12px;
    height: 10em;
    padding: 7px;
    resize: none;
}
textarea:disabled {
    background-color: var(--gray-4);
    cursor: not-allowed;
}
